<turbo-frame id="modal">
  <div class="modal" data-controller="modal" data-action="keyup@document->modal#escClose">
    <button type="button" class="modal-backdrop" tabindex="-1" data-action="modal#close">Close</button>

    <div class="modal-window">
      <%= IconSelection.fetch_icons.each do |icon| %>
        <%= image_tag icon %>
      <%end%>
    </div>

  </div>
</turbo-frame>