<nav class='nav-bar'>
  <div class="back-link">
    <%= link_to back_path do %>
    <img src="https://img.icons8.com/windows/32/ffffff/circled-left-2.png" alt="Back icon"/>
    <% end %>
  </div>
  <p>
    <%= title %>
  </p>
  <div class="action-btn">
    <%= action_btn %>
  </div>
</nav>