<section class='home'>
  <header>
    <h1>Budgetfy</h1>
  </header>
  <div class='btn-container'>
    <% unless current_user.nil?  %>
      <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete, class: 'btn-1' %>
    <% else %>
      <%= button_to 'LOG IN', new_user_session_path, class: 'btn-1' %>
    <% end %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'btn-2' %>
  </div>
</section>

