.btn-1 {
  background-color: #3979C3;
  border: none;
  border-radius: 4px;
  color: white;
  width: 90%;
  padding: 1rem;
  margin: auto;
}

.btn-2 {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: rgb(189, 189, 189);
  width: 90%;
  padding: 1rem;
  margin: auto;
}

.btn-3 {
  background-color: #60B524;
  border: 1px white solid;
  border-radius: 4px;
  color: white;
  width: 90%;
  padding: 1rem;
  padding: 1em 35vw;
  margin: 1em;
}