// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.group {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f3f2;

  .group-list {
    height: 80vh;
    overflow-y: scroll;
    position: relative;
    top: 60px;

    .my-link {
      text-decoration: none;
      background-color: transparent;

      &:hover {
        color: black;
        background-color: transparent;
      }

      .group-card {
        background-color: white;
        display: grid;
        width: 90%;
        height: 100px;
        grid-template-columns: 1fr 3fr 1fr;
        box-shadow: 1px 1px 1px rgb(192, 192, 192);
        padding: 1em;
        margin: 1em auto;

        img {
          width: 60px;
          height: 60px;
          align-self: center;
        }

        .basic-data {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
    }
  }

  .btn-container {
    form {
      display: flex;
      justify-content: center;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b524;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .aux-info {
    background-color: #3979c3;
    height: 25px;
    position: relative;
    top: 50px;
  }
}

.icon-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  height: 120px;

  .icon-display {
    color: white;
    border-radius: 20px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #3979c3;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);
  }
}
