// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.group {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f3f2;

  .group-list {
    height: 80vh;
    overflow-y: scroll;
    position: relative;
    top: 60px;

    .my-link {
      text-decoration: none;
      background-color: transparent;

      &:hover {
        color: black;
        background-color: transparent;
      }
    }
  }

  .btn-container {
    form {
      display: flex;
      justify-content: center;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b524;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .aux-info {
    background-color: #3979c3;
    height: 25px;
    position: relative;
    top: 50px;
  }
}

.icon-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  height: 120px;

  .icon-display {
    color: white;
    border-radius: 20px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #3979c3;
    box-shadow: 5px 5px 5px rgb(209, 209, 209);
  }
}

.group-card {
  background-color: var(--main-bg-color);
  display: grid;
  width: 90%;
  height: 100px;
  grid-template-columns: 1fr 3fr;
  box-shadow: 1px 1px 1px var(--font-color-3);
  padding: 1em 0;
  margin: 1em auto;

  img {
    width: 60px;
    height: 60px;
    align-self: center;
    background-color: var(--main-blue);
    border-radius: 4px;
    padding: 0.5rem;
    margin: auto;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;

    .card-title {
      color: var(--font-color-2);
      padding: 1em 0;
    }

    .card-amount {
      padding: 1em 0.5em;
      text-align: end;
      color: var(--font-color-1);
    }

    .card-date {
      grid-column: 1 / span 2;
      font-size: 0.6rem;
      align-self: baseline;
      border-top: #f1f3f2 solid 2px;
      padding: 1em 0;
      color: var(--font-color-2);
    }
  }
}
