// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'media_queries.scss';

@include for-phone-only {
  .home {
    display: grid;
    grid-template-rows: 1fr 1fr;

    header {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 50vh;

      h1 {
        font-size: 5em;
        width: 100%;
        text-align: center;
        color: var(--font-color-2)
      }
    }

    .btn-container {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
    }

    form {
      display: flex;
      width: 100%;
    }
  }
}
