body {
  background-color: #fff;
}

body,
p,
ol,
ul,
td {
  font-family: 'Open Sans', sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: var(--main-green);
  border-radius: 18px;
}

table,
th,
td {
  border: 1px solid var(--second-bg-color);
  color: var(--font-color-2);
}

table {
  display: block;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 18px;
  box-shadow: 5px 5px 5px var(--font-color-3);

  tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
  }
}

tr {
  text-align: center;
  width: 100%;
  display: inline-table;
}

thead {
  width: 100%;
  display: inline-table;
}

th {
  width: 50%;
  padding: 1em;
}

td {
  width: 50%;
  padding: 1em;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: var(--main-green);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  // display: table;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
