.login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
  height: 100vh;
  background-color: #F5F6F8;

  form {
    width: 100%;
    margin-top: 60px;
  }

  .message-link {
    color: rgb(199, 198, 198);
    text-decoration: none;
    padding: 0.2rem;
    &:hover {
      border-radius: 8px;
      background-color: #3979C3;
      color: white;
      box-shadow: 2px 2px 2px rgb(204, 204, 204);
    }
  }
}
