<section class="group">
<%= render 'shared/nav_bar', title: 'NEW ACTIVITY', action_btn: '', back_path: user_group_activities_path  %>
  <p id="notice"><%= notice %></p>

<section class="login">
  <%= render 'form', activity: @activity %>
</section>

<%= link_to 'Back', user_group_activities_path %>
</section>